body {
  text-align: center;
  background-color: #CCC;
  padding: 0;
  margin: 0;
}
#wraper {
  width: 100%;
  max-width: 1200px;
  min-width: 390px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#header {
  margin-top: 40px;
  width: 100%;
  outline: none;
  text-align: center;
}

#content em {
  font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
  color: #FFF;
}
#image {
  margin-bottom: 10px;
}
#news {
  width: 100%;
  text-align: center;
  margin: 0px 0px 20px 0px; 
}
p { 
	text-align:center;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
font-size:12px;	
	}
	
img.grayscale {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+, IE10 */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
    -webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
    -webkit-backface-visibility: hidden; /* Fix for transition flickering */
	width: 20%;
}

img.grayscale:hover {
    filter: none;
    -webkit-filter: grayscale(0%);
}